<!-- <%- include("layouts/layout", { title: "Borrowed Books" }) %>

<h2>Borrowed Books</h2>
<table border="1">
  <tr>
    <th>User</th>
    <th>Book</th>
    <th>Borrow Date</th>
    <th>Return Date</th>
    <th>Fine</th>
  </tr>
  <% borrowed.forEach(item => { %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.book %></td>
      <td><%= item.borrowDate %></td>
      <td><%= item.returnDate || "Not Returned" %></td>
      <td><%= item.fine %></td>
    </tr>
  <% }) %> -->
</table>
